<footer class="site-footer">

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title | escape }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
	<p>{{ site.description | escape }}</p>
      </div>

      <div class="footer-col footer-col-2">
        <ul class="social-media-list">
          {% if site.github_username %}
          <li>
            {% include icon-github.html username=site.github_username %}
          </li>
          {% endif %}
          {% if site.gitlab_username %}
          <li>
            {% include icon-gitlab.html username=site.gitlab_username %}
          </li>
          {% endif %}
          {% if site.twitter_username %}
          <li>
            {% include icon-twitter.html username=site.twitter_username %}
          </li>
          {% endif %}
        </ul>
      </div>

      <div class="footer-col footer-col-3">
        <p>
	  <a rel="license"
	      href="https://creativecommons.org/licenses/by-sa/4.0/"><img alt="Creative
	      Commons License" style="border-width:0"
	      src="https://i.creativecommons.org/l/by-sa/4.0/88x31.png"
	      /></a> <br />

	  The content of this site is licensed under <a rel="license"
	      href="https://creativecommons.org/licenses/by-sa/4.0/">CC
	    BY-SA 4.0</a>. <br />

	  More in the <a href="{{ "/about/#licenses" | relative_url }}">about</a> page.
	</p>
      </div>
    </div>

  </div>

</footer>
